/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* global styles*/
:root{
  --primary-color: #FFC141;
  --secondary-color: #D9534F;
  --text-color: #333333;
  --header-bg: linear-gradient(
    rgba(255, 193, 7, 0.4), 
    rgba(255, 193, 7, 0.3), 
    rgba(255, 193, 7, 0.0) 
);
  --footer-bg: linear-gradient(
    rgba(255, 193, 7, 0.0) ,
    rgba(255, 193, 7, 0.3), 
    rgba(255, 193, 7, 0.4) 
);
}

html {
  font-family: 'Sour Gummy', cursive;
  background: url('background.jpg');
  text-align: center;
  display: flex;
  justify-content: center;  
}

/* header styles */
header {
  width: 95%;
  max-width: 90%;
  margin: 0 auto;
  background: var(--header-bg);
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 100;
}

header h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-container {
display: flex;
flex-direction: column;
align-items: center;
flex: 1;
}

/* logo styles */
.logo img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}

.logo img:hover {
  transform: rotate(360deg);
}

/* nav styles */
nav {
  text-align: center; 
  margin-top: 10px; 
}

 nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 5px; 
} 

nav ul li a {
  display: inline-block;
  padding: 8px 15px;
  background: var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
  background: var(--secondary-color);
}

/* footer styles */
footer {
  width: 95%;
  max-width: 90%;
  margin: 20px auto;
  background: var(--footer-bg);
  padding: 10px;
  text-align: center;
}